{
  "localhost": false,
  "domain": "https://coffee.alexflipnote.xyz/",
  "title": "lewd.api",
  "description": "Lewd stuff, turn back if you're not 18+. git: AlexFlipnote/CoffeeAPI",
  "imagefolder": "images",
  "suffix": "_coffee",
  "port": 80,
  "debug": false
}
