<html>
	<head>
	    <title>{{ config.title }}</title>
	    <link href="https://rawgit.com/AlexFlipnote/ModestaCSS/master/css/modesta.min.css" type="text/css" rel="stylesheet">
	</head>

	<body>
	    <section class="fullscreen">
	        <div class="background" style="background-image: url('{{ background }}');"></div>
	        <div class="center-object">
	            <section class="me">
	                <h1 class="title">{{ config.title }}</h1>
	                <span class="undertitle">{{ config.description }}<br><i>Images in API: <b>{{ images }}</b></i></span>
	            </section>
	            <div class="buttons">
	                <a href="/api/lewd" class="btn animation turquoise" target="_blank">Random coffee</a>
	            </div>
	        </div>
	    </section>
	</body>
</html>
